.second{
    width: 100%;
    min-height: 50vh;
    max-height: fit-content;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--mwhite);
    color: var(--mblack2);
}

.bio-box{
    text-align: center;
}

@media(max-width:1000px){
    .second{
        grid-template-columns: 1fr;
    }

    .bio-heading-div{
        display: flex;
        justify-content: center;
    }

    .bio-heading-div span{
        text-align: center;
    }

    .bio-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}
