.third{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    background-color: var(--mblack2);
}

.project-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
    margin-top: 30px;
    padding: 0 2% 5% 2%;
}

@media(max-width:1400px){
    .project-div{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width:1050px) {
    .project-div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:600px) {
    .project-div {
        grid-template-columns: 1fr;
    }
}
